
html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFDF7;
    flex: 1;
}

main{
    flex: 1;
}

*{
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/*header*/

header{
    height: 70px;
    background-color: #FFFDF7;
}

.header-section{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-div a,
.logo{
    padding: 25px;
    box-sizing: border-box;
}

.link-div{

}

/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
    background-color: white;
}

/*Partie Home*/

.h1-home{
    font-size: 70px;
    font-weight: 400;
}

.h2-home{
    font-weight: 300;
    margin: 40px 0 40px 100px;
}

.h4-home,
.h5-home{
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: 400;
}

.welcome-section{
    background-color: #E8F0E4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    padding: 10% 10% 0 10%;
    font-size: large;
    box-sizing: border-box;
}

.welcome-section div{
    width: 50vw;
    height: calc(100vw/2);
}

.bg-1{
    background-image: url("./images/newlesscarré.png");
    background-size: cover;
}
/*Section produits*/


.product-section{
    display: flex;
    flex-wrap: wrap;
}

.product-div-home{
    width: calc(100vw/3 - 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-div-home img{
    width: 100%;
    aspect-ratio: 1/1;
}

.product-short-description{
    color: grey;
}

.product-price{
    margin-bottom: 45px;
}

.product-link{
    padding-bottom: 35px;
}


/*Section Conviction et Valeurs*/

.conviction-section,
.valor-section
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.conviction-section > div:first-child {
    width: 70%;
    height: calc(100vw/2);
    background-color: #EBE3D4;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.bg-2{
    width: 30%;
    background-image: url("./images/branche.jpg");
    background-size: cover;
    height: calc(100vw/2);
}


.valor-section > div:nth-child(2) {
    width: 70%;
    height: calc(100vw/2);
    background-color: #E8F0E4;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.bg-3{
    width: 30%;
    height: calc(100vw/2);
    background-image: url("./images/plastique.jpg");
    background-size: cover;
}

.fifty{
    width: 45%;
    padding: 30px;
}

.fifty p {
    text-align: start;
    text-justify: auto;
}


/*Page produit*/

.product-page-section{
    display: flex;
    height: 90vh;
    margin-bottom: 250px;
    background-color: #FFFDF7;
}

.product-img{
    width: 50%;
    aspect-ratio: 1/1;

}

.product-info{
    width: 50%;
}

.product-page-price{
    font-size: xx-large;
    font-weight: 300;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 50px;
}

.product-big-description{
    color: #666666
}

.product-info > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15% 15% 0 15%;
}

.product-info > div > button {
    align-self: center;
}

.base-button{
    background-color: #565656;
    width: 100%;
    padding: 25px 0;
    color: white;
}

.base-button a{
    color: white;
}

.ok-basket{
    width: 60%;
    margin: auto;
    margin-top: 25px;
    color: #666666;
}

/*Section login et register*/

.login-section,
.register-section{
    display: flex;
}

.login-h1,
.register-h1{
    font-weight: 500;
}

.register-h1{
    align-self: flex-start;
    margin-bottom: 0;
}

.login-form,
.register-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form form,
.register-form form
{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login-form form label{
    color: #666666;
}

.login-form form input,
.register-form form input{
    height: 60px;
    background-color: #FFFDF7;
    margin-bottom: 35px;
    margin-top: 10px;
    border: #666666 1px solid;
}

.register-form form > div{
    display: flex;
    flex-direction: column;
}

.bg-4,
.bg-5{
    width: 50%;
    height: 130vh;
}

.login-img ,
.register-img{
    height: auto;
    width: 100%;
}

.accountless{
    margin-top: 50px;
    text-decoration: underline #666666;
    color: #666666;
}

.checkbox-div{
    flex-direction: row-reverse !important;
    align-items: center !important;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.checkbox-div > input {
    margin: 0 15px 0 0 !important;
}

/*Page du panier*/

.basket-title{
    font-weight: 500;
    font-size: 20px;
    margin-top: 100px;
}

.empty-basket{
    font-weight: 400;
    color: #666666;
    font-size: 14px;
    margin-bottom: 20px;
}

.basket-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F1EC;
    height: 100%;
}

.basket-container,
.first-basket-div
{
    width: 45%;
    max-width: 600px;
    margin: auto;
}

.first-basket-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-basket-div a{
    align-self: start;
}

.basket-item{
    display: flex;
    align-items: center;
    background: #FFFDF7B2;
    margin-bottom: 8px;
}

.basket-item-info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.basket-item-info p,
.item-quantity{
    margin-bottom: 10px;
}

.basket-item-info p{
    font-weight: 600;
    font-size: 14px;
}

.item-quantity{
    color: #666666;
    font-size: 14px;
}

.item-basket-price{
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.basket-img{
    width: 150px;
    height: 150px;
    padding: 50px;
}

.basket-total{
    background: #FFFDF7B2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}

.basket-total > div{
    padding: 25px;
}

.basket-total > div p:first-child{
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 10px;
}

.basket-total > div p:nth-child(2){
    font-size: 12px;
    color: #666666;
    font-weight: 400;
}

.basket-total p{
    margin: 0;
}

.basket-button{
    margin-bottom: 140px;
}



