{% extends 'base.html.twig' %}

{% block title %}
    S'inscrire sur Green Goodies
{% endblock %}

{% block body %}

    <section>

        <div class="bg5"></div>

        <div>
            <h1>Inscription</h1>
            <p>Tous les champs sont obligatoires.</p>

            {{ form(form) }}
        </div>

        <a href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>


    </section>

{% endblock %}


